/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom CSS */
/* Header */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h3{
    font-size: 28px;
}
body{
    background-color: #FAFAFA;
}
.wrapper{
    max-width:1300px ;
    width:100%;
    margin: 0 auto;
    padding: 30px;
}
.header{
    width: 100%;
    position: absolute; 
}
.head{
    display: flex;
    justify-content: space-between;
}
.head-line{
    color: #fff;
    font-weight: 800;
}
.nav a{
    color:#5EBD8B;
    font-weight: bold;
    padding: 10px;
}
.nav a:hover{
    color:#fff;
}
.hero{
    background-image: linear-gradient(#574977,#6C4278);
}
.hero-sec{
    height:75vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
/* .hero-line{
    border-left:3px solid #6F567D;
} */
.hero-data{
    color:white;
    font-family: sans-serif;
    width:49%;
}
.intro{
    font-weight: 500;
    font-size: 40px;
}
.details{
    border-left:3px solid #6F567D;
    padding-left: 30px;
    font-weight: 100;
    color:#A995B3;
    font-size: 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
.btn{
    width:10em;
    height:6vh;
    border-radius: 20px;
    background-color: #5EBD8B;
    border-style: none;
    color:white;
    font-weight: 800;
}
.btn:hover{
    color:#5EBD8B;
    background: #6C4278;
    border: 1px solid #5EBD8B;
}
.data{
    display: flex;
    justify-content: space-between;
}
.data-intro{
    color:black;
    line-height: 1.5;
    font-size: 18px;
    color: #666666;
}
.data-intro h2{
    line-height: 2;
    font-size: 32px;
}
.data-list{
    color: #666666;
    padding-left: 35px;
    list-style-image: url("../media/right.png");
}
.data-head{
    box-shadow: 0 1.5px 0 #666666;
}
.sec-con{
    display:flex;
    justify-content: space-between;
    box-shadow: 0 1.5px 0 #666666;
    padding:0;
    margin-top: 30px;
}
.sec-con div{
    padding: 30px;
    align-self: center;
}
.sec-con div img{
    width:10%;
}
.btn-main{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
form input{
    width:12.9vw;
    height:5vh;
}
.social-list{
    color: #666666;
    padding-left: 35px;
}
.form-head{
    box-shadow: 0 1.5px 0 #666666;   
}
li i{
    color:#5EBD8B;
}
.white{
    background-color: #fff;
}