@import "./stylesheets/UI.scss";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: source sans pro, sans-serif;
}
a {
  color: $primaryColor;
  text-decoration: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn {
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
@media all and (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
