@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pacifico", cursive;
}
body {
  background-color: #3867fc;
}
.main {
  position: absolute;
  width: 60%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  z-index: 1;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  height: 70vh;
  text-align: center;
}
.layout {
  clip-path: ellipse(55% 40% at 50% 85%);
  background-color: #cbcbcb;
  height: 100vh;
  position: relative;
}
.ins {
  display: flex;
  margin: 10px auto 30px auto;
  border: 0;
  width: 60%;
  border-bottom: 3px solid #cbcbcb;
  font-size: 40px;
  color: #636363;
  text-align: center;
}
.ins:focus {
  outline: 0;
}
ul {
  list-style-type: none;
  padding: 0 10rem;
}
li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
span {
  color: tomato;
  cursor: pointer;
}
