@import url("https://fonts.googleapis.com/css?family=Jaldi:400,700&display=swap");
$white: #fff;
$navyBlue: #17223b;
body {
  overflow: hidden;
  margin: 0;
}

.activeLink {
  border-bottom: 4px solid rgb(214, 65, 97);
  border-right: 4px solid rgb(214, 65, 97);
}

header {
  position: absolute;
  height: auto;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px 0px;
  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 700px;
    justify-content: space-between;
    margin-left: 0.8rem;
    padding-left: 0.8rem;
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      i {
        cursor: pointer;
        color: aquamarine;
        font-size: 1.7rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1.2rem;
        margin-right: 0.8rem;
        text-decoration: none;
      }
    }
  }
}
.my-details {
  height: 800px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 4.5rem;
  max-height: 700px;
  max-width: 668px;
  width: 100%;
  color: $white;
  padding: 20px;
  vertical-align: baseline;
  .introduction {
    margin-top: 2rem;
    h1 {
      font-family: "Jaldi", sans-serif;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 1rem;
      margin-right: 5.3rem;
      margin-top: 1rem;
      letter-spacing: 9px;
      text-align: left;
      font-size: 2.6rem;
      padding: 1rem;
      span {
        font-size: 10rem;
      }
      pre {
        margin-top: 1rem;
        font-size: 2rem;
        letter-spacing: 9px;
      }
    }
    p {
      padding: 1.2rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      small {
        font-family: Overpass, sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.1;
      }
    }
  }
  a {
    .contact-me {
      color: $white;
      font-weight: bold;
      margin-top: 3rem;
      width: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: teal;
      border-image: initial;
      padding: 0.8rem;
      background: transparent;
    }
    .contact-me:hover {
      border-width: 2px;
      border-style: solid;
      border-color: aquamarine;
      border-image: initial;
    }
  }
}
.life-code {
  position: absolute;
  top: 6rem;
  right: 3rem;
  color: antiquewhite;
  .parent {
    color: aquamarine;
    //   padding-left: 20px;
  }
  .children {
    color: rgb(0, 188, 212);
    padding-right: 5px;
    padding-left: 3rem;
  }
  .parent-children {
    color: aquamarine;
    padding-left: 3rem;
  }
}
.navyBlue {
  color: $navyBlue !important;
}
