<!DOCTYPE html>
<html>
  <head>
    <title>My Blogger</title>
  </head>

  <body>
    <form action="/newPostData" method="post">
      <input type="text" placeholder="Title" name="title" />
      <textarea name="description" id="" cols="30" rows="10"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
