<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>List User</h1>
    <% allUser.forEach(user=>{ %>
    <p><%= user.name %></p>
    <a href="users/<%= user.id %>">Show User</a>
    <a href="users/<%= user.id %>/edit">Edit</a>
    <a href="users/<%= user.id %>/delete">delete</a>
    <% } ) %>
  </body>
</html>
