* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
$primary-color: #dc3545;
$dark-color: #333;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
@import "./stylesheets/index.scss";
