@import "./UI.scss";
.form-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 750px;
  align-items: center;
  margin: 2rem auto;
  h1 {
    color: $secondaryColor;
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    input,
    textarea {
      margin: 1rem 0;
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
      border-radius: 0.3rem;
      width: 450px;
      line-height: 1.25;
      color: #55595c;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
    button {
      align-self: flex-end;
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
      border-radius: 0.3rem;
      color: #fff;
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
  }
}
