.tag {
  color: #fff;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  background-color: #818a91;
  margin-bottom: 0.2rem;
  display: inline-flex;
  width: fit-content;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
